@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";

.ImageHolder {
    @include image-holder(375, 205);
}

.Banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-gray-bg;
    text-align: center;
}

.Header {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

.Button {
    width: 130px;
    height: 30px;
    border: none;
    background-color: $color-gray-icon;
    color: $color-white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
}
