@import "src/styles/abstracts/variables";

.ColorsAndSizes {
    padding: 20px 0;
    border-bottom: 1px solid $color-gray-bg;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}

.ColorsAndSizesPart:not(:last-child) {
    margin-bottom: 20px;
}

.ColorsAndSizesHeader {
    margin-bottom: 15px;
}

.ChosenValue {
    margin-left: 3px;
}

.ColorIcon {
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 1px solid $color-gray-icon-border-light;
    border-radius: 50%;
    margin-right: 8px;
    box-shadow: 0 0 0 2px $color-white inset;

    &:hover {
        border-color: $color-gray-font;
        box-shadow: 0 0 0 1px $color-gray-font inset;
    }
}

.White {
    box-shadow:
        0 0 0 2px white inset,
        0 0 0 3px $color-gray-icon-shadow inset;
}

.Black {
    background-color: $color-black;
}

.Navy {
    background-color: $color-navy;
}

.Pink {
    background-color: $color-pink;
}

.ActiveColor {
    border-color: $color-gray-font;
    box-shadow: 0 0 0 1px $color-gray-font inset;
}

.SizeIcon {
    display: inline-block;
    min-width: 28px;
    padding: 7px 5px;
    background: transparent;
    border: none;
    box-shadow: 0 0 0 1px $color-gray-icon-border inset;
    margin-right: 8px;
    text-align: center;

    &:hover {
        box-shadow: 0 0 0 2px $color-gray-font inset;
    }
}

.ActiveSize {
    box-shadow: 0 0 0 2px $color-gray-font inset;
}
