@import "../../styles/abstracts/breakpoints";

.Listing {
    //padding: 50px 0 30px;
}

.Container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 18px;
}

@include breakpoint($laptop) {
    .Container {
        padding: 0 30px;
    }
}

@include breakpoint($largeDesktop) {
    .Container {
        padding: 0;
    }
}
