// widths
$largeMobile: largeMobile;
$tablet: tablet;
$largeTablet: largeTablet;
$desktop: desktop;
$largeDesktop: largeDesktop;

// heights
$highMobile: highMobile;

@mixin breakpoint($point) {
    @if $point == largeMobile {
        @media (min-width: 421px) { @content ; }
    }

    @if $point == tablet {
        @media (min-width: 651px) { @content ; }
    }

    @if $point == largeTablet {
        @media (min-width: 769px) { @content ; }
    }

    @else if $point == desktop {
        @media (min-width: 1025px) { @content ; }
    }

    @else if $point == largeDesktop {
        @media (min-width: 1701px) { @content ; }
    }
}

@mixin heightBreakpoint($point) {
    @if $point == highMobile {
        @media (min-height: 601px) { @content ; }
    }
}
