$color-white: #fff;
$color-black: #000;
$color-gray-bg: #f2f2f2;
$color-gray-icon-border-light: #f1f1f1;
$color-gray-icon-border: #dadada;
$color-gray-icon-shadow: #c3c3c3;
$color-gray-btn-bg: #4c4c4c;
$color-gray-icon: #565656;
$color-gray-font: #333;
$color-gray-breadcrumbs-font: #747679;
$color-gray-breadcrumbs-hover-font: #151515;
$color-blue-logo: #0073c1;
$color-pink: #ffc0cb;
$color-navy: #313ea2;

$header-height: 50px;
$footer-height: 46px;

$font-main: 'Montserrat', sans-serif;
$font-dosis: 'Dosis', sans-serif;

$product-gridGap-largeTablet: 20px;
