@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";

.Product {
    position: relative;
}

.AddToFavIcon {
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 1;
    font-size: 12px;
}

.ProductImageHolder {
    @include image-holder(165, 205);

    background-color: $color-gray-bg;
}

.ProductInfo {
    padding: 6px 0;
    font-size: 11px;
}

.ProductName {
    display: block;
    margin-bottom: 1px;
    font-weight: 500;
}

.ProductPrice {
    display: block;
    font-weight: 600;
}
