:global {
    @import "@fortawesome/fontawesome-free/scss/fontawesome";
    @import "@fortawesome/fontawesome-free/scss/regular";
}

@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";

.Product {
    position: relative;
}

.AddToFavIcon {
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 1;
    font-size: 12px;
}

.ProductImageHolder {
    @include image-holder(165, 205);

    background-color: $color-gray-bg;
}

.ProductInfo--ProdList {
    padding: 10px 0;
    font-size: 14px;
}

.ProductInfo--ProdPage {
    padding: 6px 0;
    font-size: 11px;
}

.ProductName {
    display: block;
    font-weight: 500;
}

.ProductName--ProdList {
    margin-bottom: 3px;
}

.ProductName--ProdPage {
    margin-bottom: 1px;
}

.ProductPrice {
    display: block;
    font-weight: 600;
}
