:global {
    @import "@fortawesome/fontawesome-free/scss/fontawesome";
    @import "@fortawesome/fontawesome-free/scss/regular";
}

@import "../../../../styles/abstracts/breakpoints";
@import "../../../../styles/abstracts/variables";

.AddToCart {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 122px auto;
    padding: 15px 0 25px;
    border-bottom: 1px solid $color-gray-bg;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}

.SizeAndDelivery {
    grid-column: 1 / -1;
    margin-bottom: 24px;
    font-size: 10px;
}

.SizeInfoLink {
    margin-right: 47px;
}

.SizeInfoLink,
.DeliveryInfoLink {
    color: inherit;

    &:visited {
        color: inherit;
    }

    &:hover {
        color: $color-black;
    }
}

.QuantityControls {
    align-self: self-start;
    border: 1px solid $color-gray-icon-border;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
}

.LessBtn,
.MoreBtn {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
}

.Quantity {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.AddToWishlistBtn {
    justify-self: self-end;
    display: flex;
    align-items: center;
    height: 40px;
    border: none;
    margin-bottom: 20px;
    background: transparent;
    text-align: left;
    text-transform: inherit;
}

.HeartIcon {
    margin-right: 7px;
}

.AddToCartBtn {
    grid-column: 1 / -1;
    height: 36px;
    border: none;
    background: $color-gray-btn-bg;
    color: $color-white;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

@include breakpoint($largeMobile) {
    .AddToWishlistBtn {
        justify-self: self-start;
        margin-left: 35px;
    }
}

@include breakpoint($tablet) {
    .AddToCart {
        grid-column: 1 / -1;
    }

    .AddToCartBtn {
        justify-self: center;
        width: 400px;
    }
}

@include breakpoint($largeTablet) {
    .AddToCartBtn {
        justify-self: self-start;
        width: calc(50% - 0.5 * #{$product-gridGap-largeTablet});
    }
}

@include breakpoint($desktop) {
    .AddToCart {
        grid-column: 2 / -1;
    }

    .AddToCartBtn {
        width: 100%;
        max-width: 400px;
    }
}
