@import "src/styles/abstracts/breakpoints";
@import "src/styles/abstracts/mixins";

.Header {
    margin-bottom: 20px;
}

.Container {
    @include container;
}

.MainHeader {
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.Subheader {
    font-size: 12px;
    line-height: 1.4;
    font-weight: 500;
}

@include breakpoint($largeTablet) {
    .Container {
        @include container-largeTablet;
    }
}

@include breakpoint($largeDesktop) {
    .Container {
        @include container-largeDesktop;
    }
}
