.Header {
    margin-bottom: 25px;
}

.MainHeader {
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.Subheader {
    font-size: 12px;
    font-weight: 500;
}
