@import "../../styles/abstracts/variables";

.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid $color-gray-bg;
    background-color: white;
}

.Container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 18px;
}

.HeaderContainer {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    color: $color-blue-logo;
    font-weight: 600;
}

.LogoLink {
    padding: 10px 15px;
    color: inherit;
    text-decoration: none;

    &:focus {
        outline: none;
    }
}

.Button {
    padding: 12px 0;
    border: none;
    color: $color-gray-icon;
    background: transparent;
    outline: none;

    &:first-child {
        padding-right: 15px;
        margin-right: 3px;
    }

    &:nth-child(2) {
        padding-right: 15px;
        margin-right: auto;
    }

    &:nth-child(4) {
        padding-left: 15px;
        margin-left: auto;
    }

    &:last-child {
        padding-left: 12px;
        margin-left: 3px;
    }
}

@media (min-width: 651px) {
    .Container {
        padding: 0 30px;
    }
}

@media (min-width: 1601px) {
    .Container {
        padding: 0;
    }
}
