@import "src/styles/abstracts/breakpoints";
@import "src/styles/abstracts/mixins";
@import "src/styles/abstracts/variables";

.Breadcrumbs {
    padding: 12px 0;
    color: $color-gray-breadcrumbs-font;
    font-size: 10px;
}

.Container {
    @include container;
}

.Link {
    margin-right: 8px;
    color: inherit;
    text-decoration: none;

    &:hover {
        color: $color-gray-breadcrumbs-hover-font;
    }
}

.Breadcrumbs i {
    margin-right: 8px;
}

@include breakpoint($largeTablet) {
    .Container {
        @include container-largeTablet;
    }
}

@include breakpoint($largeDesktop) {
    .Container {
        @include container-largeDesktop;
    }
}
