:global {
    @import "@fortawesome/fontawesome-free/scss/fontawesome";
    @import "@fortawesome/fontawesome-free/scss/regular";
}

@import "../../../styles/abstracts/mixins";
@import "../../../styles/abstracts/variables";

.ProductsContainer {
    margin-bottom: 30px;
}

.ProductsList {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    list-style: none;
}

.AddToFavIcon {
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 1;
    font-size: 12px;
}

.ProductImageHolder {
    @include image-holder(165, 205);

    background-color: $color-gray-bg;
}

.ProductInfo {
    padding: 10px 0;
    font-size: 14px;
}

.ProductName {
    display: block;
    margin-bottom: 3px;
    font-weight: 500;
}

.ProductPrice {
    display: block;
    font-weight: 600;
}

.LoadMoreBtn {
    display: block;
    padding: 5px 15px;
    margin: 0 auto;
    border: 1px solid $color-gray-font;
    background: transparent;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.LoadMoreContainer {
    margin-bottom: 40px;
}
