@import "src/styles/abstracts/breakpoints";
@import "src/styles/abstracts/mixins";
@import "src/styles/abstracts/variables";

.ListingBody {
    margin-bottom: 30px;
}

.Container {
    @include container;
}

.ProductsList {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    list-style: none;
}

.LoadMore {
    margin-bottom: 40px;
}

.LoadMoreBtn {
    display: block;
    padding: 5px 15px;
    margin: 0 auto;
    border: 1px solid $color-gray-font;
    background: transparent;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

@include breakpoint($tablet) {
    .ProductsList {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
}

@include breakpoint($largeTablet) {
    .Container {
        @include container-largeTablet;
    }

    .ProductsList {
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@include breakpoint($largeDesktop) {
    .Container {
        @include container-largeDesktop;
    }
}
